.survey-form-container {
  display: flex;
  justify-content: center;
}

.survey-form {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin: 40px;
  padding: 30px;

  .survey-form-section {
    display: flex;
    padding: 20px 5px;
    border-bottom: 1px solid white;

    &.questions {
      flex-direction: column;
    }
  }

  .form-question {
    padding: 10px 0;
  }

  label {
    font-size: 20px;
    padding-right: 20px;
  }
}

.survey {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 40px;

  &.take-survey {
    flex-direction: column;
  }

  .question {
    padding: 20px 0;
    margin: 20px 0;
  }
}
