.survey-form-container {
  display: flex;
  justify-content: center;
}

.survey {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 40px;

  .take-survey-btn {
    align-self: center;
    font-size: 20px;
    padding: 10px;
    border: 1px solid lavender;
  }
}
